<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742887988123-djkvovv50nlaeicb9d2d0ej1aa00pn6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742887988123-djkvovv50nlaeicb9d2d0ej1aa00pn6h</string>
	<key>API_KEY</key>
	<string>AIzaSyC5-JMB6HvS5WrqINpMP5fdAnxvIjPUFmU</string>
	<key>GCM_SENDER_ID</key>
	<string>742887988123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>health-monitor-97bda</string>
	<key>STORAGE_BUCKET</key>
	<string>health-monitor-97bda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742887988123:ios:af5e27e033d3c4d55d5f3e</string>
</dict>
</plist>